.button {
    border: .5em red solid;
    background-color: rgb(244, 248, 244);
    border-radius: .5em;
    align-content: center;
    padding: .5em .5em;
    box-shadow: grey .1em .1em;
}

.button:hover, .button:focus {
    cursor: pointer;
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    border: .5em rgb(161, 1, 1) solid;
    box-shadow: rgb(58, 58, 58) .3em .3em;

}