.button {
    border: .2em rgb(230, 154, 154) solid;
    background-color: rgb(244, 248, 244);
    border-radius: .5em;
    align-content: center;
    padding: .5em .5em;
    box-shadow: grey .1em .1em;
}

.button:hover, .button:focus {
    cursor: pointer;
    background-color: rgb(77, 74, 74);
    color: whitesmoke;
    border: .2em rgb(156, 57, 57) solid;
    box-shadow: rgb(102, 99, 99) .2em .2em;

}