body {
    margin: 0;
}

.mat {
    margin: 10rem auto;
    background: gainsboro;
    border: solid .4rem lightslategrey;
    border-radius: .4em;
    padding: 1.5em;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    box-shadow: .1em .2em lightgray;
}